body{
    font-family: Verdana, Arial, sans-serif;
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    height: 80px;
    background-color: #b4bfe7;
}
header > div{
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: space-between;
}
.navMain{
    text-decoration: none;
    color: #112876;
    font-size: 12pt;
    margin-right: 60px;

}
.username{
    font-size: 14pt;
}
.button{
    padding: 12px 30px;
    font-size: 14px;
    border-radius: 11px;
    border: none;
    font-family: Verdana, Arial, sans-serif;
    background-color: #112876;
    color: #cae1eb;
    cursor: pointer;
}
.button:hover{
    background-color: #06133f;
}
.opportunities{
    margin-left: 260px;
    height: 520px;
}
h1{
    margin-top: 80px;
    margin-bottom: 60px;
    text-align: center;
}
h2{
    margin-top: 0;
    margin-bottom: 30px;
}
li{
    margin-bottom: 20px;
}
ul{
    margin-bottom: 50px;
}
